.h-new{
    height: 98.8vh
;
}

.bg-dark-new{
    background-color: #292d31;
}

.bg-dark-new:focus{
    background-color: #292d31;
}

.h-item-new{
  height: 153px !important;
}

::-webkit-scrollbar {
    width: 3px;
    /* for vertical scrollbars */
    height: 3px;
    /* for horizontal scrollbars */
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(117, 117, 117, 0.5);
  }